---
import Layout from "../layouts/Layout.astro";
import data from "../assets/data.json";
---

<Layout>
    <div class="p-4 pt-8 w-full md:w-4/6 mx-auto">
        <h1
            class="font-bold text-5xl underline underline-offset-8 decoration-primary mb-6"
        >
            About Myself
        </h1>
        <p class="text-lg text-justify mb-6">{data.summary.join(" ")}</p>

        <h2
            class="font-bold text-4xl underline underline-offset-8 decoration-primary mb-6"
        >
            My Profound Skills
        </h2>
        <div class="flex flex-wrap">
            {
                data.technologies.map((ax) => {
                    return (
                        <div class="w-full md:w-1/2 lg:w-1/3 py-4">
                            <h3 class="text-xl font-semibold mb-1 underline decoration-primary">
                                {ax.title}
                            </h3>
                            {ax.list.map((bx) => {
                                return <p class="text-lg">{bx}</p>;
                            })}
                        </div>
                    );
                })
            }
        </div>
    </div>
</Layout>
