---
import Layout from "../layouts/Layout.astro";
import data from "../assets/data.json";
---

<Layout>
    <div class="p-4 pt-8 w-full md:w-4/6 mx-auto">
        <h1
            class="font-bold text-5xl underline underline-offset-8 decoration-primary mb-6"
        >
            About Myself
        </h1>
        <!-- <p class="text-lg text-justify mb-6">{data.summary.join(" ")}</p> -->
        <p class="text-lg text-justify mb-6">
            Hello there mate, I am Pascoal Daniel Fernandes, hailing from the
            sandy beaches of Goa, India. I am Full-Stack Software Developer by
            profession and love building bespoke applications with attention to
            detail and absolute finesse. My expertise centers on backend
            development, where I specialize in implementing robust security
            measures and complex business logic, while also managing deployment
            processes and ongoing system maintenance.
        </p>

        <p class="text-lg text-justify mb-6">
            I'm particularly passionate about back-end development, where I
            enjoy writing clean, efficient code to power robust applications. I
            excel at designing and building APIs and microservices that help
            create scalable, maintainable systems. Beyond writing bespoke code,
            I'm also deeply involved in deploying and managing cloud
            infrastructure, ensuring that the solutions I build are reliable,
            secure, and ready for real-world challenges.
        </p>
        <h2
            class="font-bold text-4xl underline underline-offset-8 decoration-primary mb-6"
        >
            My Profound Skills
        </h2>
        <div class="flex flex-wrap">
            {
                data.technologies.map((ax) => {
                    return (
                        <div class="w-full md:w-1/2 lg:w-1/3 py-4">
                            <h3 class="text-xl font-semibold mb-1 underline decoration-primary">
                                {ax.title}
                            </h3>
                            {ax.list.map((bx) => {
                                return <p class="text-lg">{bx}</p>;
                            })}
                        </div>
                    );
                })
            }
        </div>
    </div>
</Layout>
