---
import SocialBar from "./SocialBar.astro";
---

<div class="w-full bg-gray-800 py-4 text-center mt-5">
    <SocialBar />
    <p class="text-gray-600 mt-2 font-semibold italic">Built with Astro.</p>
</div>
