---
import data from "../assets/data.json";
---

<div
    id="Navbar"
    class="w-full h-full grid place-items-center bg-yellow-300 shadow-lg"
>
    <h1 class="text-xl font-semibold text-gray-900">
        {data.information.firstName}
        {data.information.middleName}
        {data.information.lastName}
    </h1>
</div>
