---
import "../styles/global.css";
import Logo from "../assets/logo.svg";

let links = [
	{ route: "/home", text: "Home", active: false },
	{ route: "/about", text: "About", active: false },
	{ route: "/portfolio", text: "Portfolio", active: false },
];

console.log(Astro.url.pathname);
links.map((el) => {
	if (Astro.url.pathname.includes(el.route)) {
		el.active = true;
	}
});
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AlloPopoT</title>
	</head>
	<body>
		<div class="px-4 pb-4 flex flex-row flex-nowrap gap-4 items-center">
			<img class="w-20 h-auto" src={Logo.src} alt="" />
			<!-- <h1
		class="text-zinc-900 bg-yellow-400 font-semibold text-2xl w-max px-4 py-2"
	>
		Pascoal Daniel Fernandes
	</h1> -->
			<div class="border-l border-l-neutral-200">
				<h2 class="text-base h-full px-4 py-2">
					<span class="font-bold">Full-Stack Developer</span>
					<br />
					<span class="italic">Handcrafting Bespoke Software,</span>
					<br />
					<span
						class="italic underline underline-offset-4 decoration-primary"
						>Since 2023.</span
					>
				</h2>
			</div>
		</div>

		<div
			class="z-[10] flex flow-row flex-nowrap py-4 sticky top-0 bg-neutral-800 border-y border-y-primary"
		>
			{
				links.map((el) => {
					return (
						<a href={el.route} class="contents">
							<p
								class="px-4 text-lg font-bold italic hover:underline hover:decoration-amber-50 underline-offset-8"
								class:list={[
									{
										"underline decoration-primary":
											el.active,
									},
								]}
							>
								{el.text}
							</p>
						</a>
					);
				})
			}
		</div>
		<slot />
	</body>
</html>
